<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="useGeneratedKeys" value="true" />
	</settings>
	<typeAliases>
		<typeAlias alias="UserModel" type="com.webapp.models1.User" />
		<typeAlias alias="JQTableUtils" type="com.fnf.utils.JQTableUtils" />
  		<typeAlias alias="State" type="com.webapp.models1.State" />
  		
	</typeAliases>

	<mappers>
		
		<mapper resource="mybatis-config/User.xml" /> 
		<mapper resource="mybatis-config/Session.xml" />
  		<mapper resource="mybatis-config/Login.xml" />
  			<mapper resource="mybatis-config/State.xml" />
	</mappers>
</configuration>